# Prerequisites
./P3/*.d

# Compiled Object files
./P3/*.slo
./P3/*.lo
./P3/*.o
./P3/*.obj

# Precompiled Headers
./P3/*.gch
./P3/*.pch

# Compiled Dynamic libraries
./P3/*.so
./P3/*.dylib
./P3/*.dll

# Fortran module files
./P3/*.mod
./P3/*.smod

# Compiled Static libraries
./P3/*.lai
./P3/*.la
./P3/*.a
./P3/*.lib

# Executables
./P3/*.exe
./P3/*.out
./P3/*.app
./P3/main